services:
  postgres:
    image: postgres:15-alpine
    container_name: shortener-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=shortener
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: shortener_redis
    ports:
      - "6379:6379"

volumes:
  pgdata: